<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <!-- Latest news -->
  <div class = "container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading"><strong>Latest Mars News</strong></h2>
        <h3 class="heading"><strong>{{mars_data.news_title}}</strong></h3>
        <p>{{mars_data.news_p}}</p>
        <h2 class="heading"><strong>Featured Mars Image</strong></h2>
        <img src = {{mars_data.featured_img}} style = "display:block; width:100%; height:auto;">
      </div>
    </div>
  </div>

  <div class = "container">
    <div class="row" id="latest-news">
      <div class = "col-md-6">
        <h2 class="heading"><strong>Current Weather on Mars</strong></h2>
        <p>{{mars_data.weather}}</p>
      </div>
      <div class = "col-md-6">
        <h2 class="heading"><strong>Mars Facts</strong></h2>
        {{mars_data.table | safe}}
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "row">
      <h2 class="heading" style = "text-align: center;"><strong>Mars Hemispheres</strong></h2>
      <div class = "col-md-6">
        <img src = {{mars_data.hemispheres[0].img_url}} style = "display:block; width:100%; height:auto;"> 
        <h3 style = "text-align: center;"><strong> {{mars_data.hemispheres[0].title}} </strong></h3>
        <hr class = "my-3">
        <img src = {{mars_data.hemispheres[1].img_url}} style = "display:block; width:100%; height:auto;"> 
        <h3 style = "text-align: center;"><strong> {{mars_data.hemispheres[1].title}} </strong></h3>
      </div>
      <div class = "col-md-6">
        <img src = {{mars_data.hemispheres[2].img_url}} style = "display:block; width:100%; height:auto;"> 
        <h3 style = "text-align: center;"><strong> {{mars_data.hemispheres[2].title}} </strong></h3>
        <hr class = "my-3">
        <img src = {{mars_data.hemispheres[3].img_url}} style = "display:block; width:100%; height:auto;"> 
        <h3 style = "text-align: center;"><strong> {{mars_data.hemispheres[3].title}} </strong></h3>
      </div>
    </div>
  </div>
  <hr class = "my-3">
  <p style = "text-align: center;">Last updated at: {{mars_data.last_updated}}</p>
</body>

</html>

